<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<body th:fragment="one-subscription">
    <ul>
        <li th:text="'ID: ' + ${subscription.id}"></li>
        <li th:text="'Status: ' + ${subscription.status}"></li>
        <li th:text="'Plan ID: ' + ${subscription.planId}"></li>
        <li th:text="'Plan Name: ' + ${subscription.plan.name}"></li>
        <li th:text="'Plan Description: ' + ${subscription.plan.description}"></li>
        <li th:text="'Plan Interval: ' + ${subscription.plan.interval}"></li>
        <li th:text="'Plan Period: ' + ${subscription.plan.period}"></li>
        <li th:text="'Plan Amount: ' + ${subscription.plan.amount}"></li>
        <li th:text="'plan Currency: ' + ${subscription.plan.currency}"></li>
        <li th:text="'Customer ID: ' + ${subscription.customerId}"></li>
        <li th:text="'Customer First Name: ' + ${subscription.customer.firstName}"></li>
        <li th:text="'Customer Last Name: ' + ${subscription.customer.lastName}"></li>
        <li th:text="'Customer Email: ' + ${subscription.customer.email}"></li>
        <li th:text="'Payment ID: ' + ${subscription.paymentId}"></li>
    </ul>
</body>
</html>