<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<body th:fragment="one-subscription">
    <ul>
        <li th:text="'ID: ' + ${subscription.id}"></li>
        <li th:text="'Status: ' + ${subscription.status}"></li>
        <li th:text="'Plan ID: ' + ${subscription.planId}"></li>
        <li th:text="'Customer ID: ' + ${subscription.customerId}"></li>
        <li th:text="'Customer Email: ' + ${subscription.customer.email}"></li>
        <li th:text="'Payment ID: ' + ${subscription.paymentId}"></li>
    </ul>
</body>
</html>