<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title>Alternative Payments Java SDK Sample Application</title>
</head>
<body>
    <section layout:fragment="content">
        <ul>
	        <li th:text="'Error Code: ' + ${exception.errorCode}"></li>
	        <li th:text="'Status Code: ' + ${exception.statusCode}"></li>
	        <li th:text="'Message: ' + ${exception.message}"></li>
        </ul>
    </section>
</body>
</html>
