<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title>Alternative Payments Java SDK Sample Application</title>
</head>
<body>
    <section layout:fragment="menu" th:include="transaction/fragments/transaction-menu :: transaction-menu">
    </section>
    <section layout:fragment="content">
        <div th:if="${phoneVerification != null}" >
            <ul>
                <li th:text="'Key: ' + ${phoneVerification.key}"></li>
                <li th:text="'Phone: ' + ${phoneVerification.phone}"></li>
                <li th:text="'Token: ' + ${phoneVerification.token}"></li>
                <li th:text="'Type: ' + ${phoneVerification.type}"></li>
            </ul>
        </div>
    </section>
</body>
</html>
