<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<body th:fragment="transaction-menu">
    <ul class="list-inline">
        <li><a href="create-sepa-transaction">Add SEPA transaction</a></li>
        <li><a href="create-mistercach-transaction">Add Mistercach transaction</a></li>
        <li><a href="create-ideal-transaction">Add IDEAL transaction</a></li>
        <li><a href="create-brazilpay-transaction">Add BrazilPay transaction</a></li>
        <li><a href="create-creditcard-transaction">Add credit card transaction</a></li>
        <li><a href="get-transaction">Get transaction</a></li>
        <li><a href="get-transactions">Get all transactions</a></li>
    </ul>
</body>
</html>