<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title>Alternative Payments Java SDK Sample Application</title>
</head>
<body>
    <section layout:fragment="menu">
        <ul class="list-inline">
            <li><a href="create-customer">Add customer</a></li>
            <li><a href="get-customer">Get customer</a></li>
            <li><a href="get-customers">Get all customers</a></li>
        </ul>
        <ul class="list-inline">
            <li><a href="create-sepa-transaction">Add SEPA transaction</a></li>
            <li><a href="create-mistercach-transaction">Add Mistercach transaction</a></li>
            <li><a href="create-ideal-transaction">Add IDEAL transaction</a></li>
            <li><a href="create-brazilpay-transaction">Add BrazilPay transaction</a></li>
            <li><a href="create-creditcard-transaction">Add credit card transaction</a></li>
            <li><a href="create-teleingreso-transaction">Add Teleingreso transaction</a></li>
            <li><a href="create-safetypay-transaction">Add Safety Pay transaction</a></li>
            <li><a href="create-poli-transaction">Add POLi transaction</a></li>
            <li><a href="create-trustpay-transaction">Add TrustPay transaction</a></li>
            <li><a href="create-directpay-transaction">Add DirectPay transaction</a></li>
            <li><a href="create-directpay-max-transaction">Add DirectPay Max transaction</a></li>
            <li><a href="get-transaction">Get transaction</a></li>
            <li><a href="get-transactions">Get all transactions</a></li>
        </ul>
    </section>
</body>
</html>