<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Alternative Payments Java SDK Sample Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <table>
        <tr>
            <td><strong>Options:</strong></td>
        </tr>
        <tr>
            <td><a href="create-customer">Add customer</a></td>
            <td><a href="www.b92.net">Get customer</a></td>
            <td><a href="www.b92.net">Get all customers</a></td>
        </tr>
    </table>
</body>
</html>