<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title>Alternative Payments Java SDK Sample Application</title>
</head>
<body>
    <section layout:fragment="menu" th:include="refund/fragments/transaction-refund-menu :: transaction-refund-menu">
    </section>
    <section layout:fragment="content">
        <form th:action="@{/get-transaction-refunds}">
            <input type="text" name="transaction_id"/>
            <button type="submit">Get Transaction Refunds</button>
        </form>
        <div th:each="transactionRefund : ${transactionRefunds}" th:if="transactionRefunds != null}">
            <ul th:replace="refund/fragments/one-transaction-refund :: 'one-transaction-refund' (transactionRefund=${transactionRefund})">
            </ul>
        </div>
    </section>
</body>
</html>
