<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title>Alternative Payments Java SDK Sample Application</title>
</head>
<body>
    <section layout:fragment="menu" th:include="subscription/fragments/subscription-menu :: subscription-menu">
    </section>
    <section layout:fragment="content">
        <form th:action="@{/create-subscription}">
            Plan name: <input type="text" name="plan_name"/><br />
            Plan amount: <input type="text" name="plan_amount"/><br />
            Customer email: <input type="text" name="customer_email"/><br />
            <button type="submit">Create Subscription</button>
        </form>
        <div th:if="${subscription != null}" >
	        <p th:text="'Subscription with ID ' + ${subscription.id} + ' created!'" />
	        <ul th:replace="subscription/fragments/one-subscription :: 'one-subscription' (subscription=${subscription})">
            </ul>
        </div>
    </section>
</body>
</html>
